asgiref==3.11.1
Django==6.0.7
django-cors-headers==4.9.0
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
gunicorn==23.0.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
